<%= form_for @tag, url: admin_tag_path(@tag), html: {class: "nifty_form"} do |f| %>

  <fieldset>
      <legend><%= form_title %></legend>
      <% if @tag.errors.any? %>
        <div id="error_explanation">
          <h4>
            O formulário possui os seguintes erros:
          </h4>
          <ul>
            <% @tag.errors.full_messages.each do |message|%>
            <li><%= message %> </li> <% end %>
          </ul>
        </div>
      <% end %>

      <div class="form-group ">
        <%= f.label :name %><br>
        <%= f.text_field :name, :class => 'form-control'%>
      </div>
      <div class="actions">
        <%= f.submit :value => 'Salvar', :class => 'btn btn-primary' %>
      </div>
    </fieldset>

<% end %>