<div class="row">
  <div class="col-lg-6">
    <%= form_tag(search_admin_tags_path, method: "get") do %>
      <div class="input-group">
        <span class="input-group-btn">
          <%= submit_tag "Buscar", :type => "submit", :class => "btn btn-default" %>
        </span>
        <input type="text" class="form-control" name="search_field">
      </div>
    <% end %>
  </div>
  
  <div class="col-lg-6">
    <div class="pull-right">
      <%= button_to "Nova Tag", { :action => "new" }, :class => "btn btn-default", :method => :get %>
    </div>
  </div>
</div>

</br>
<table class="table table-striped table-condensed">
  <thead>
    <tr>
      <th>Nome</th>
      <th></th>
      <th></th>
      <th></th>
    </tr>
  </thead>

  <tbody>
    <% @tags.each do |tag| %>
      <tr>
        <td><%= tag.name %></td>
        <td><%= link_to 'Exibir', admin_tag_path(tag) %></td>
        <td><%= link_to 'Editar', edit_admin_tag_path(tag) %></td>
        <td><%= link_to 'Excluir', admin_tag_path(tag), method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>