<div class="pull-left">
  <p id="notice"><%= notice %></p>
</div>

<div class="pull-right">
  <%= button_to "Editar Questão", { :action => "edit" }, :class => "btn btn-primary", :method => :get %>
</div>
<div class="clearfix"></div>

<div>
  <%= image_tag @question.image_type(:thumb), size: '64' %>
  </br>
  <p>
    <strong>Nome:</strong>
    <%= @question.title %>
  </p>

  <p>
    <strong>Descrição:</strong>
    <%= @question.description %>
  </p>

  <p>
    <strong>Respostas:</strong>
    <%= @question.answers %>
  </p>

  <p>
    <strong>Resposta correta:</strong>
    <%= @question.correct_answer %>
  </p>

  <p>
    <strong>Publicação:</strong>
    <%= @question.publish_at.strftime("%d-%m-%Y %H:%M:%S") %>
  </p>

  <p>
    <strong>Evento:</strong>
    <%= @question.event_at.nil? ? "" : @question.event_at.strftime("%d-%m-%Y %H:%M:%S") %>
  </p>

  <p>
    <strong>Finalizada:</strong>
    <%= @question.finish_at.nil? ? "" : @question.finish_at.strftime("%d-%m-%Y %H:%M:%S") %>
  </p>
  <p>
    <strong>Tags:</strong>
    <% @question.tags.each do |tag| %>
      <%= label_tag(tag.name, tag.name) %>
    <% end %>
  </div>

</div>
