<div class="well well-small">
  Previsões
</div>

<% @forecasts.try(:each) {|f| %>

    <%= if !f.question.nil? %>
    <div class="media">
      <a class="pull-left" href="#">
        <%= image_tag f.user.image_type(:thumb), class: 'media-object img-circle', size: '46' %>
      </a>
      <div class="media-body">
        <h5 class="media-heading">
          <em> <%= f.user.name %></em> previu <strong><%= f.answer %></strong> para:
        </h5>
        <a href="<%= social_question_path(f.question) %>" class="">
          <%= f.question.title %>
        </a>

        <% if f.question.rank_update %>
            <% if f.answer_correct %>
                <p>Acertou a previsão!</p>
            <% else  %>
                <p>Errou a previsão!</p>
            <% end %>
        <% end %>

        <% if !f.comment.blank? %>
            <div>
                <p>Comentário: <%= f.comment %></p>
            </div>
        <% end %>
      </div>
      <hr>
    </div>

    <%= end %>
<% } %>



