<p id="notice"><%= notice %></p>

<p>
  <strong>Rating:</strong>
  <%= @forecast.rating %>
</p>

<p>
  <strong>Comment:</strong>
  <%= @forecast.comment %>
</p>

<%= link_to 'Edit', edit_forecast_path(@forecast) %> |
<%= link_to 'Back', forecasts_path %>
