<div class="pull-left">
  <p id="notice"><%= notice %></p>
</div>

<div class="pull-right">
  <%= button_to "Editar", { :action => "edit" }, :class => "btn btn-primary", :method => :get %>
</div>
<div class="clearfix"></div>


<%= image_tag @user.image_type(:thumb), class: 'media-object', size: '46' %>
</br>
<p>
  <strong>Nome exibição:</strong>
  <%= @user.name%>
</p>
<p>
  <strong>Nome:</strong>
  <%= @user.first_name%>
</p>
<p>
  <strong>Sobrenome:</strong>
  <%= @user.last_name %>
</p>
<p>
  <strong>Email:</strong>
  <%= @user.email %>
</p>
<p>
  <strong>Rank score:</strong>
  <%= @user.rank != nil ? @user.rank.score : 0 %>
</p>
<% @user.tag_ranks.each do |tag_rank| %>
  <p>
    <strong>[<%= tag_rank.tag.name %>] Rank score:</strong>
    <%= tag_rank.score %>
  </p>
<% end %>