<div class="pull-left">
  <p id="notice"><%= notice %></p>
</div>

<div class="pull-right">
  <%= button_to "Editar", { :action => "edit" }, :class => "btn btn-primary", :method => :get %>
</div>
<div class="clearfix"></div>

<p>
  <strong>Name:</strong>
  <%= @logged_user.name %>
</p>
<p>
  <strong>Name:</strong>
  <%= @logged_user.first_name %>
</p>
<p>
  <strong>Name:</strong>
  <%= @logged_user.last_name %>
</p>
<p>
  <strong>Email:</strong>
  <%= @logged_user.email %>
</p>
<p>
  <strong>Data de nascimento:</strong>
  <%= @logged_user.birthdate %>
</p>
<p>
  <strong>Sexo:</strong>
  <%= @logged_user.gender %>
</p>
<p>
  <strong>Rank score:</strong>
  <%= @logged_user.rank_score %>
</p>