<!DOCTYPE html>
<html>
<head>
  <title>Webiseum</title>
  <%= stylesheet_link_tag    "application", media: "all", "data-turbolinks-track" => true %>
  <%= javascript_include_tag "application", "data-turbolinks-track" => true %>
  <%= csrf_meta_tags %>
</head>
<body>
	<nav class="navbar navbar-static-top" role="navigation" style="margin-bottom: 0px;">
  		<div class="container">
	  		<div class="navbar-header">
				<button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-ex1-collapse">
					<span class="sr-only">Toggle navigation</span>
					<span class="icon-bar"></span>
					<span class="icon-bar"></span>
					<span class="icon-bar"></span>
				</button>
				
				<a href="<%= root_path %>">
					<img class="navbar-brand" src="http://webiseum.azurewebsites.net/content/images/logo.png" alt="Webiseum" width="86" />
				</a>
			</div>

			<form class="navbar-form navbar-right">
				<!-- Single button -->
				<div class="btn-group">
				  <button type="submit" class="btn btn-default dropdown-toggle" data-toggle="dropdown">
				    Login <span class="caret"></span>
				  </button>
				  <ul class="dropdown-menu" role="menu">
				    <li><a href="<%= home_index_path %>">Cadastre-se</a></li>
				    <li class="divider"></li>
				    <li><a href="<%= home_index_path %>">Facebook</a></li>

				  </ul>
				</div>
          	</form>
		</div>
	</nav>

	<div class="">
		<%= yield %>
	</div>
	
	<div class="container">
		<footer>
	        
	    </footer>
	</div>
</body>
</html>
