<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/html">
<head>
  <title>Webiseum</title>
  <%= stylesheet_link_tag    "social", media: "all", "data-turbolinks-track" => true %>
  <%= javascript_include_tag "application", "data-turbolinks-track" => true %>
  <%= csrf_meta_tags %>
</head>
<body>

	<div class="navbar navbar-default navbar-fixed-top">
	  <div class="container">
        <div class="row">
          <div class="col-md-2">

            <div class="navbar-header">
              <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-wbsm-collapse">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
              </button>
              <a href="<%= feed_path %>" class="navbar-brand">Webiseum</a>
            </div>

          </div>
          <div class="col-md-10">

            <%= form_tag(social_search_index_path, method: "get", class: 'navbar-form navbar-left' ) do %>
              <div class="form-group">
                <input type="text" name="by" class="form-control" placeholder="Previsões de amigos">
              </div>
            <% end %>

            <div class="collapse navbar-collapse navbar-wbsm-collapse">
              <ul class="nav navbar-nav navbar-right">
                <li>
                  <a href="<%= social_profile_path(@logged_user) %>"><%= @logged_user.name %> <i class="icon-user icon-large"></i></a>
                </li>
                <li>
                  <a href="<%= feed_path %>"><i class="icon-home icon-large"></i></a>
                </li>
                <li class="dropdown">
                  <a href="#" class="dropdown-toggle" data-toggle="dropdown"><i class="icon-info-sign icon-large"></i></a>
                  <ul class="dropdown-menu">
                    <li>
                      <a href="/logout">Sair</a>
                    </li>
                  </ul>
                </li>
              </ul>
            </div>

          </div>
        </div>
	  </div>
	</div>

    <div class="container" style="margin-top: 26px;">

      <div class="row" style="height: 100%">

        <div class="col-md-2">
          <aside>
            <header style="height: 70px;">
              <div class="media">
                <a class="pull-left" href="#">
                  <%= image_tag @logged_user.image_type(:thumb), class: 'media-object', size: '46' %>
                </a>
                <div class="media-body">
                  <h6 class="media-heading"><%= @logged_user.name %></h6>
                  <h6><a href="<%= edit_social_profile_path(@logged_user) %>">Editar perfil</a></h6>
                </div>
              </div>
            </header>
            <section>
              <div class="aside-menu">
                <h6>PRINCIPAL</h6>
                <ul style="list-style-type: none; padding-left: 6px;">
                  <li>
                    <a href="<%= feed_questions_path %>"><i class="icon-info-sign"></i> Perguntas</a>
                  </li>
                  <li>
                    <a href="<%= feed_forecasts_path(session['user_id']) %>"><i class="icon-bar-chart"></i> Minhas Previs&otilde;es</a>
                  </li>
                  <li>
                    <a href="<%= feed_forecasts_path(:all) %>"><i class="icon-group"></i> Todas Previs&otilde;es</a>
                  </li>
                </ul>
              </div>
            </section>
            <section>
              <div class="aside-menu">

                <script type="text/javascript">
                    $.fn.tagcloud.defaults = {
                        size: {start: 6, end: 16, unit: 'pt'},
                        color: {start: '#cde', end: '#f52'}
                    };

                    $(function () {
                        $('#tag-cloud a').tagcloud();
                    });
                </script>

                <h6>NÚVEM DE TAGS - TESTE</h6>
                <%= tag_claud(@tags) %>

              </div>
            </section>
          </aside>
        </div>

        <div class="col-md-8">
          <%= yield %>
        </div>

        <div class="col-md-2">
          <aside>
            <div class="aside-menu">
              <h6>RANKING</h6>
              <% if @rank.present? %>
                  <ul style="list-style-type: none; padding-left: 6px;">

                    <% @rank.each_with_index do |rank, index| %>

                        <li>
                          <%= image_tag rank.user.image_type(:small), size: '20' %>
                          <strong><small><%= index+1 %>. </small></strong>
                          <small><%= rank.user.name %> <strong><%= rank.score %> pts</strong></small>
                        </li>

                    <% end  %>
                  </ul>
              <% else %>
                Não existe rank para esta Tag.
              <% end %>
            </div>
          </aside>
        </div>
      </div>
    </div>
		
</body>
</html>
