<!DOCTYPE html>
<html>
<head>
  <title>Webiseum</title>
  <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <%= stylesheet_link_tag    "webiseum", media: "all", "data-turbolinks-track" => true %>
  <%= javascript_include_tag "webiseum", "data-turbolinks-track" => true %>
  <%= csrf_meta_tags %>
  <%= javascript_include_tag "google-analytics", "data-turbolinks-track" => true %>
</head>
<body>

	<%= yield %>
<!-- Google Code for Novos usuarios Conversion Page -->
<script type="text/javascript">
/* <![CDATA[ */
var google_conversion_id = 987671233;
var google_conversion_language = "en";
var google_conversion_format = "2";
var google_conversion_color = "ffffff";
var google_conversion_label = "e2CfCI-NsQYQwdX61gM";
var google_conversion_value = 0;
var google_remarketing_only = false;
/* ]]> */
</script>
<script type="text/javascript" src="//www.googleadservices.com/pagead/conversion.js">
</script>
<noscript>
<div style="display:inline;">
<img height="1" width="1" style="border-style:none;" alt="" src="//www.googleadservices.com/pagead/conversion/987671233/?value=0&amp;label=e2CfCI-NsQYQwdX61gM&amp;guid=ON&amp;script=0"/>
</div>
</noscript>

</body>
</html>
